@use './components/garage';
@use './components/tableWinners.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

main,
nav {
  width: 90%;
}

button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  background-color: #e7e5e5;
}
