@use './components/garage';
@use './components/tableWinners.scss';
@use './components/count.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  background-color: rgb(201 179 154);
}

main,
nav {
  width: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;

  margin-top: 10px;
}

button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  background-color: #e7e5e5;
}
