@use './components/garage';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

main,
nav {
  width: 90%;
}
