$font-family: 'Montserrat-SemiBold', sans-serif;
$font-family-redular: 'Montserrat-Regular', sans-serif;
$second-family: 'Allura-Regular', sans-serif;

$primary: #ff4646;
$dark: #181c29;
$static-white: #fff;
$content-background: #ecf3f8;
$tag-purple: #4361ff;
$tag-pink: #ff43f7;
$tag-green: #06a44f;
$primary-10: rgba(255, 70, 70, 0.1);
$static-white-20: rgba(255, 255, 255, 0.2);
$static-white-40: rgba(255, 255, 255, 0.4);

%bg-section {
	background-image: url('.././img/bg-snow.png');
	background-size: cover;
	background-position-y: center;
    background-position-x: center;
}

%flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

%flex-space {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

%section-subtitle {
	font-family: $second-family;
	font-size: 2.4rem;
	line-height: 100%;
	letter-spacing: 0.05em;
	color: $static-white;
}

%section-title {
	font-size: 2.4rem;
	line-height: 151%;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	color: $static-white;
}

%section-btn {
	@extend %flex-center;
	border-radius: 2rem;
	padding: 2rem 3.2rem;
	width: 23.5rem;
	height: 5.6rem;
	background-color: $dark;
	font-size: 1.2rem;
	line-height: 130%;
	letter-spacing: 0.048em;
	text-transform: uppercase;
	text-align: center;
	color: $static-white;
	&:hover {
		background-color: $static-white;
		color: $dark;
	}
}

.gift__card {
	@extend %flex-center;
	flex-direction: column;
    background: $content-background;
    border-radius: 2rem;
    max-width: 31rem;
    max-height: 34.2rem;
    width: 100%;
    height: 100%;
    gap: 0;

	img {
		width: 100%;
		height: auto;
        object-fit: cover;
	}
	.gift__description {
		display: flex;
		flex-direction: column;
		// align-items: flex-start;
        border-radius: 2rem;
        background: $static-white;
        width: 100%;
        padding: 2rem;
        gap: 0.8rem;
        min-height: 11.2rem;

		p {
			font-size: 1.2rem;
			line-height: 120%;
			letter-spacing: 0.05em;
			text-transform: uppercase;
		}
		h3 {
			font-size: 1.6rem;
			line-height: 152%;
			letter-spacing: 0.08em;
			text-transform: uppercase;
			color: $dark;
		}
	}
    &:hover {
        cursor: pointer;
        h3 {
            color: $primary;
        }
    }
}

.gift__type-harmony {
    color: $tag-pink;
}

.gift__type-work {
    color: $tag-purple;
}

.gift__type-health {
    color: $tag-green;
} 