* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@import './fonts';
@import './vars';
@import './blocks/header';
@import './blocks/hero';
@import './blocks/about';

body {
	font-family: $font-family;
}

html {
	font-size: 62.5%;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.page-wrapper {
	max-width: 144rem;
	width: 144rem;
	margin: 0 auto;
}

main {
    background: $primary;
    border-radius: 2rem;
}

section {
    @extend %bg-section;
    @extend %flex-center;
    padding: 0 8.2rem;
}



