@import './utilits/resize';
@import './fonts';
@import './vars';

@import './components/gift-card';
@import './components/templates';

@import './blocks/header';
@import './blocks/hero';
@import './blocks/about';
@import './blocks/slider';
@import './blocks/gifts';
@import './blocks/cta';
@import './blocks/footer';

@import './blocks/page-gifts';

body {
	font-family: $font-family;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.page-wrapper {
	max-width: 144rem;
	width: 144rem;
	margin: 0 auto;
	background: $static-white;
}

main {
	background: $primary;
	border-radius: 2rem;
}

section {
	@extend %bg-section;
	@extend %flex-center;
	padding: 0 8.2rem;
}

.section__title-container {
	@extend %flex-center;
	flex-direction: column;
	gap: 1.2rem;
}
.section__title {
	@extend %section-title;
}
.section__subtitle {
	@extend %section-subtitle;
}
