:root{
  --main-board-size: 0;
  --maket-size: 80px;
  --info-maket-size: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  display: flex;  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 95%;
  background-color: #c7c7c7;
  border-radius: 10px;
  padding: 5px;
}

/* Menu */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  max-width: 400px;
  width: 100%;
  background-color: #6a6a6a; 
  border-radius: 10px;
}


.menu-items {
  list-style: none; 
  display: flex;
  flex-direction: column; 
  gap: 20px; 
}

.btn {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  padding: 5px 10px;
  background-color: #efb751; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
}

.btn:hover {
  background-color: #e8a221;
}

.btn-item:active {
  background-color: #c64b17;
}

/* Меню выбора игры и ее сложности */
.levels-items {
  max-width: 600px;
  width: 100%;
  height: 80%;
  padding: 20px 0;
  background-color: #6a6a6a;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  margin: 40px 0;
}

.level-items__control {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.level-items__levels {
  width: 95%;
}

.levels-items__item-container {
  width: 85px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.levels-items__item-container:hover {
  cursor: pointer;
  border: 4px solid #e8a221;
}

.levels-items__item-container:active {
  border: 4px solid #c64b17;
}

.levels-items__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
}

.levels-items__item-img {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 10px 0;
}
.maket-image {
  width: var(--maket-size);
  height: var(--maket-size);
  border-collapse: collapse;
}
.cell.cell-maket-easy-size {
  width: calc(var(--maket-size) / 5); 
  height: calc(var(--maket-size) / 5);
}
.cell.cell-maket-medium-size {
  width: calc(var(--maket-size) / 10); 
  height: calc(var(--maket-size) / 10);
}
.cell.cell-maket-hard-size {
  width: calc(var(--maket-size) / 15); 
  height: calc(var(--maket-size) / 15);
}

/* Game Board */
.game-container {
  width: fit-content;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
} 

.app-control {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 10px;
}

.app-control__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-app {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bottom-app {
  display: flex;
  justify-content: space-between;
}

.info-app {
  border: 2px solid black;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  pointer-events: none;
}

.info-app__maket {
  width: var(--info-maket-size);
  height: var(--info-maket-size);
}

.cell.cell-info-maket-easy-size {
  width: calc(var(--info-maket-size) / 5); 
  height: calc(var(--info-maket-size) / 5);
}
.cell.cell-info-maket-medium-size {
  width: calc(var(--info-maket-size) / 10); 
  height: calc(var(--info-maket-size) / 10);
}
.cell.cell-info-maket-hard-size {
  width: calc(var(--info-maket-size) / 15); 
  height: calc(var(--info-maket-size) / 15);
}

.game-board {
  width: var(--main-board-size);
  height: var(--main-board-size);
}
.table-boarder, .help-board {
  border-collapse: collapse;
  border: 2px solid black;
}

.cell.help-board__cell {
  background-color: #dcdbdb;
}

.cell {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #939292; 
  text-align: center;
  font-size: 16px;
}

.cell.cell-main-board-easy-size {
  width: calc(var(--main-board-size) / 5); 
  height: calc(var(--main-board-size) / 5);
}
.cell.cell-main-board-medium-size {
  width: calc(var(--main-board-size) / 10); 
  height: calc(var(--main-board-size) / 10);
}
.cell.cell-main-board-hard-size {
  width: calc(var(--main-board-size) / 15); 
  height: calc(var(--main-board-size) / 15);
}

.cell-active {
  background-color: black;
}

.cell.border-right {
  border-right: 2px solid black;
}

.cell.border-bottom {
  border-bottom: 2px solid black; 
}

/* Cross */
.cell-cross::before,
.cell-cross::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(122, 122, 122);
  top: 50%;
  left: 4%;
  transform-origin: center;
}

.cell-cross::before {
  transform: translateY(-50%) rotate(45deg);
}

.cell-cross::after {
  transform: translateY(-50%) rotate(-45deg);
}

/* Record Table */
.record-table-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
  flex-direction: column;
  width: 80%;
  height: 95%;
  background-color: #6a6a6a;
  border-radius: 10px;
}

.record-table-container__buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 90%;
}

.record-table {
	width: 90%;
	background-color: #d6d4d4;
  border-collapse:collapse;
}

thead tr th {
  border: 1px solid #727272;;
}

.record-header {
	background: #efb751;
	color: black;
	font-weight: bold;
	padding: 12px;
	text-align: center;

}

.record-row__cell {
	border-bottom: 1px solid #959595;
  text-align: center;
  padding: 5px 0;
}

.record-row__cell-maket {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* States */
.hide {
  display: none;
}

.levels-items__item-selected {
  border: 4px solid #c64b17;
}


.btn:disabled {
  background-color: #d4d4d4;
  color: #242424;
  cursor:default;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6a6a6a; 
  color: #dcdbdb; 
  padding: 2rem;
  border-radius: 0.5rem;
  z-index: 5; 
  max-width: 300px;
  width: 100%; 
  text-align: center; 
  visibility: visible;
}

.btn-close-modal {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

.overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 4; 
}

/* @media (max-width: 600px) {
  :root {
    --maket-size: 40px;
  }
} */