* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.app {
  width: fit-content;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.top-app {
  width: 100%;
  display: flex;
  justify-content: end;
}

.bottom-app {
  display: flex;
  justify-content: end;
}

/* .info-app {
  min-width: 200px;
  width: 100%;
} */

.game-board {
  border: 2px solid black;
  border-collapse: collapse; 
}

.cell {
  width: 40px; 
  height: 40px;
  border: 1px solid #686666; 
  text-align: center;
  font-size: 18px;
}

.cell.border-right {
  border-right: 2px solid black;
}

.cell.border-bottom {
  border-bottom: 2px solid black; 
}





