* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.app {
  width: fit-content;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
} 

.top-app {
  width: 100%;
  display: flex;
  justify-content: end;
}

.bottom-app {
  display: flex;
  justify-content: end;
}

.info-app {
  flex-grow: 1;
  border: 2px solid black;
}

.game-board {
  border: 2px solid black;
  border-collapse: collapse; 

}

.help-board {
  border-collapse: collapse;
  border: 2px solid black;
}

.top-help {
  width: auto;
}

.cell {
  width: 40px; 
  height: 40px;
  border: 1px solid #c6c6c6; 
  text-align: center;
  font-size: 18px;
}

.cell-active {
  background-color: black;
}

.cell.border-right {
  border-right: 2px solid black;
}

.cell.border-bottom {
  border-bottom: 2px solid black; 
}
