* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 95%;
  background-color: #c7c7c7;
  border-radius: 10px;
}

/* Menu */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 40%;
  background-color: #6a6a6a; 
  border-radius: 10px;
}


.menu-items {
  list-style: none; 
  display: flex;
  flex-direction: column; 
  gap: 20px; 
}

.btn {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  padding: 15px 30px;
  background-color: #efb751; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
}

.menu-item:hover {
  background-color: #e8a221;
}

.menu-item:active {
  background-color: #c64b17;
}

/* Меню выбора игры и ее сложности */
.levels-items {
  width: 80%;
  height: 100%;
  padding: 20px 0;
  background-color: #6a6a6a;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: 40px 0;
}

.level-items__control {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.level-items__levels {
  width: 95%;
}

.levels-items__item-container {
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.levels-items__item-container:hover {
  cursor: pointer;
  border: 4px solid #e8a221;
}

.levels-items__item-container:active {
  border: 4px solid #c64b17;
}

.levels-items__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
}

.levels-items__item-img {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}
.maket-image {
  width: 100px;
  height: 100px;
  border-collapse: collapse;
}
.cell.cell-easy-size {
  width: calc(100px / 5); 
  height: calc(100px / 5);
}
.cell.cell-medium-size {
  width: calc(100px / 10); 
  height: calc(100px / 10);
}
.cell.cell-hard-size {
  width: calc(100px / 15); 
  height: calc(100px / 15);
}

/* Game Board */
.game-container {
  width: fit-content;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
} 

.top-app {
  width: 100%;
  display: flex;
  justify-content: end;
}

.bottom-app {
  display: flex;
  justify-content: end;
}

.info-app {
  flex-grow: 1;
  border: 2px solid black;
  max-width: 150px;
  width: 100%;
}

.game-board {
  border: 2px solid black;
  border-collapse: collapse; 

}

.help-board {
  border-collapse: collapse;
  border: 2px solid black;
}

.top-help {
  width: 100%;
}

.help-board__cell {
  background-color: #bcbcbc;
}

.cell {
  position: relative;
  width: 30px; 
  height: 30px;
  border: 1px solid #6b6b6b; 
  text-align: center;
  font-size: 18px;
}

.cell-active {
  background-color: black;
}

.cell.border-right {
  border-right: 2px solid black;
}

.cell.border-bottom {
  border-bottom: 2px solid black; 
}

/* Cross */
.cell-cross::before,
.cell-cross::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(122, 122, 122);
  top: 50%;
  left: 4%;
  transform-origin: center;
}

.cell-cross::before {
  transform: translateY(-50%) rotate(45deg);
}

.cell-cross::after {
  transform: translateY(-50%) rotate(-45deg);
}

/* States */
.hide {
  display: none;
}

.levels-items__item-selected {
  border: 4px solid #c64b17;
}