* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.app {
  width: 100%;
} 

.game-board {
  margin: 0 auto;
  border: 2px solid black;
}

.cell {
  width: 60px; 
  height: 60px;
  border: 1px solid #cccccc; 
  text-align: center;
  font-size: 24px;
}

.vertival-help-board {
  transform: rotate(90deg);
}

.vertival-help-board .cell {
  transform: rotate(-90deg);
}





