body,
.buttons-container,
.buttons-container div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  cursor: pointer;

  width: 100%;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.6rem;

  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;

  background-color: #f7b75b;

  transition:
    background-color 0.3s,
    transform 0.3s;
}

.button:hover {
  background-color: #e9a34d;
}

.button:active {
  background-color: #d88f3a;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: #f5f0e3;
}

.app-container {
  width: 100%;
  max-width: 60rem;
}

.buttons-container {
  flex-direction: column;
  gap: 1rem;
}

.buttons-container div {
  gap: 1rem;
  width: 100%;
}
