$primary: #d1b89e;
$dark: #4a4a4a;
$static-white: #fff;
$content-background: #f5f0e3;

$button-primary: #f7b75b;
$button-primary-hover: #e9a34d;
$button-primary-active: #d88f3a;
$button-text: $static-white;

$input-background: #f9f6eb;
$input-border: #d0c1a1;
$input-text: #4a4a4a;
$input-placeholder: #a5a5a5;

$page-background: $content-background;
