/* ___________header____________ */

.main__logo:hover h1 {
	color: var(--color-primary-light);
}

.main__logo:hover h2 {
	color: var(--color-light-s);
}
.main__nav-link:hover {
	color: var(--color-light-s);
}

.main__nav-link-active {
	border-bottom: 3px solid var(--color-primary);
	color: var(--color-light-s);
	cursor: default;
}

/* ___________start-page____________ */

.start-page__content {
	margin-top: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 4rem;
	max-width: 1280px;
	max-height: 728px;
	width: 100%;
	height: 100%;
}

.start-page__content-left {
	flex: 0 0 39%;
	display: flex;
	flex-direction: column;
	max-height: 728px;
	height: 100%;
}

.start-page__content-left-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 4.2rem;
	margin-top: -17.5%;
}

.start-page__content-right {
	flex: 0 1 auto;
	max-height: 728px;
	height: 100%;
}

.start-page__content-right img {
	width: 100%;
	height: auto;
	object-fit: cover;
	max-height: 100%;
}

.start-page__content-left-title {
	width: 310px;
	font-family: var(--font-primary);
	font-size: 4.4rem;
	line-height: 132%;
	color: var(--color-light-xl);
}

.start-page__content-left-text {
	font-family: var(--font-secondary);
	font-size: 1.5rem;
	line-height: 160%;
	color: var(--color-dark-s);
}

.start-page__content-left-btn {
	border: none;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	border-radius: 10rem;
	width: 207px;
	height: 52px;
	background: var(--color-primary);
	flex: 0 0 auto;
}

.start-page__content-left-btn:hover {
	cursor: pointer;
	background: var(--color-primary-light);
}

/* ___________about____________ */

#about {
	height: 100%;
	width: 100%;
}

.about-content {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 12rem;
}

.about-content__left img {
	display: block;
}

.about-content__right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 2.5rem;
	flex-basis: 35.8%;
	height: auto;
}

.about-content__right-title {
	text-align: start;
}

.about-content__right-text {
	font-family: var(--font-secondary);
	font-size: 1.5rem;
	line-height: 160%;
	letter-spacing: 0;
	color: var(--color-dark-xl);
}

/* ___________pets____________ */

#pets {
	width: 100%;
	max-height: 877px;
	height: 100%;
	background: var(--color-light-l);
}

.pets-slider {
	position: relative;
	width: 100%;
	max-height: 430px;
	height: 100%;
	margin-top: 5%;
	margin-bottom: 5.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pets-slider__cards {
    position: relative;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
    max-width: 990px;
    width: 100%;
	align-items: start;
	height: 100%;
}

.pets-slider__card {
    width: auto;
}


.pets-slider__card:not(:nth-child(1),:nth-child(2),:nth-child(3)) {
    position: absolute;
    right: -270px;
}

.pets-slider__btn {
    display: block;
    position: absolute;
	border-radius: 10rem;
	border: 2px solid var(--color-primary);
    background-color: transparent;
	width: 5.2rem;
	height: 5.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
    margin: 0 10px;
}

.pets-slider__controls {
	position: absolute;
	z-index: 3;
    max-width: 1200px;
	width: 100%;
	height: 5.2rem;
	top: calc(50% - 2.3rem);
}

#pets-slider__btn-left {
    right: calc(100% - 6.2rem)
}

#pets-slider__btn-right {
    left: calc(100% - 6.2rem)
}



.pets-btn {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	border-radius: 10rem;
	width: 26.1rem;
	height: 5.2rem;
	background: var(--color-primary);
	text-decoration: none;
}

/* ___________help____________ */

#help {
	width: 100%;
	min-height: 611px;
	height: 100%;
}

.help-list {
	max-width: 1026px;
	width: 100%;
	height: auto;
	margin-top: 6.2rem;
}

.help-list__wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 55px;
	column-gap: 11.5%;
}

.help-list__item {
	height: 113px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.help-list__item-text {
	height: 2.3rem;
	font-size: 2rem;
	line-height: 95%;
	letter-spacing: 0.065em;
	text-align: center;
	color: var(--color-dark-l);
}

/* ___________donation____________ */

#donation {
	height: calc(100% - 2px);
	width: 100%;
	background: var(--color-light-l);
}

.donation-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.donation-content__left {
	width: auto;
	height: 100%;
}

.donation-content__img {
	display: block;
	width: 100%;
	height: 100%;
}

.donation-content__right {
	padding-left: 3rem;
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;
	flex-basis: 34%;
}

.donation-content__title {
	text-align: start;
	margin-bottom: 0;
}

.donation-content__subtitle {
	font-size: 1.5rem;
	line-height: 1.6rem;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
}

.donation-content__card-wrapper {
	border-radius: 9px;
	width: 34.9rem;
	height: 4.3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--color-primary);
	gap: 1rem;
}

.donation-content__card-main {
	width: 100%;
	height: inherit;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-decoration: none;
}

.donation-content__card-main * {
	transition: ease-in-out 0.5s;
}

.donation-content__card-main:hover svg path,
.donation-content__card-main:hover span {
	fill: var(--color-light-s);
	color: var(--color-light-s);
}

.donation-content__card-icon,
.donation-content__card-numder {
	display: block;
}

.donation-content__card-numder {
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
}

.donation-content__text-italic {
	font-family: var(--font-secondary-italic);
	font-size: 12px;
	line-height: 150%;
	color: var(--color-dark-m);
}

@media (max-width: 1000px) {

    /* ___________pets____________ */

	.pets-slider__card {
		width: 29.2%;
	}

	.pets-slider__card:not(:nth-child(1), :nth-child(2)) {
		position: absolute;
		right: -29.2%;
	}
}

@media (max-width: 820px) {
	.start-page__content-left-wrapper {
		row-gap: 2.05rem;
	}
}

@media (max-width: 768px) {

    /* ___________start-page____________ */

	#start-page {
		position: relative;
		width: 100%;
		height: 100%;
		max-height: 1165px;
		background: url(../images/start-screen-gradient-background.png), radial-gradient(237.5% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%);
		background-size: cover;
		display: flex;
		justify-content: center;
		align-items: end;
	}

	.start-page__content {
		margin-top: 20%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 10rem;
		max-height: 1015px;
		width: 100%;
		height: 100%;
	}

	.start-page__content-left {
		margin-bottom: 10rem;
	}

	.start-page__content-left-wrapper {
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: 4.1rem;
		margin-top: 0;
		width: 81%;
		align-self: center;
	}

	.start-page__content-left-btn {
		align-self: center;
	}

	.start-page__content-right {
		flex: 0 1 auto;
		height: 100%;
	}

	.start-page__content-right img {
		display: block;
		width: 100%;
		height: auto;
		object-fit: cover;
		max-height: 100%;
		margin-left: 12%;
	}

	/* ___________about____________ */

	.about-content {
		flex-direction: column-reverse;
		row-gap: 8rem;
	}

	.about-content__right {
		width: 62.5%;
	}

	/* ___________pets____________ */

	.pets__wrapper {
		padding: 10.5% 8rem 13% 8rem;
	}

	.pets-slider {
		margin-top: 9.7%;
		margin-bottom: 10.7%;
	}

	.pets-slider__cards {
		overflow: hidden;
		column-gap: 4rem;
		position: relative;
	}

	#pets-slider__btn-left {
		left: -5rem;
	}

	#pets-slider__btn-right {
		right: -5rem;
	}

	.pets-slider__card {
		width: 44.4%;
	}

	.pets-slider__card:not(:nth-child(1), :nth-child(2)) {
		position: absolute;
		right: -44.4%;
	}

	/* ___________help____________ */

	#help {
		width: 100%;
		min-height: 611px;
		height: 100%;
	}

	.help-list {
		max-width: 1026px;
		width: 100%;
		height: auto;
		padding-inline: 2.9rem;
		margin-top: 5.8rem;
	}

	.help-list__wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		row-gap: 55px;
		column-gap: 9.5%;
		height: 100%;
	}

	.help-list__item {
		height: 11.3rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		flex-basis: 27%;
	}

	.help-list__item-text {
		line-height: 130%;
	}

	/* ___________donation____________ */

	.donation-content {
		flex-wrap: wrap-reverse;
		width: 73%;
		row-gap: 6rem;
	}

	.donation-content__right {
		padding-left: 0;
		gap: 2.1rem;
		flex-basis: 76%;
	}

	.donation-content__left {
		width: 100%;
	}
}

@media (max-width: 650px) {

    /* ___________pets____________ */
    
	.pets__wrapper {
		padding: 10.5% 4rem 13% 4rem;
	}

	.pets-slider__card {
		width: 47.4%;
	}

	.pets-slider__card:not(:nth-child(1)) {
		position: absolute;
		right: -47.4%;
	}

	#pets-slider__btn-left {
		left: 5rem;
	}

	#pets-slider__btn-right {
		right: 5rem;
	}
}

@media (max-width: 520px) {

    /* ___________start-page____________ */

	.start-page__content {
		padding: 0 5rem;
	}

	.start-page__content-left-wrapper {
		width: 100%;
	}

	.start-page__content-left {
		margin-top: 10%;
	}

	.start-page__content-left-title {
		width: 85%;
		font-size: 3.8rem;
	}

    /* ___________about____________ */

	.about-content__right {
		width: 80%;
	}
}

@media (max-width: 487px) {

    /* ___________pets____________ */

	.pets-slider__card {
		width: 66.44%;
	}

	.pets-slider__card:not(:nth-child(1)) {
		position: absolute;
		right: -66.44%;
	}

	#pets-slider__btn-left {
		left: 0rem;
	}

	#pets-slider__btn-right {
		right: 0rem;
	}

    /* ___________help____________ */

	.help-list__item-text {
		font-size: 1.6rem;
		line-height: 95%;
	}

    /* ___________donation____________ */

	.donation-content {
		width: 100%;
	}
}

@media (max-width: 430px) {
	.section__wrapper {
		padding: 10.5% 2rem 13% 2rem;
	}

    /* ___________start-page____________ */

	.start-page__content-left {
		margin-top: 20%;
	}

	.start-page__content-left-title {
		width: 95%;
	}

    /* ___________help____________ */

	.help-list {
		padding-inline: 0;
	}

	.help-list__icon-wrapper {
		width: 100%;
		height: 56px;
		display: flex;
		justify-content: center;
	}

	.help-list__item {
		height: 87px;
		width: 130px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		flex-basis: auto;
	}

	.help-list__item-text {
		font-size: 1.5rem;
		line-height: 95%;
	}

    /* ___________donation____________ */

	.donation-content__card-wrapper {
		width: 100%;
	}
	.donation-content__card-numder {
		font-size: 15px;
	}
}

@media (max-width: 387px) {
	.section__wrapper {
		padding: 10.5% 1rem 13% 1rem;
	}

    /* ___________pets____________ */

	.pets-slider__card {
		width: 73.7%;
	}

	.pets-slider__card:not(:nth-child(1)) {
		position: absolute;
		right: -73.7%;
	}
	.pets-slider {
		margin-top: 13%;
		margin-bottom: 33.5%;
	}

	.pets-slider__controls {
		top: 106%;
	}

	#pets-slider__btn-left {
		left: 4.8rem;
	}

	#pets-slider__btn-right {
		right: 4.8rem;
	}
}

@media (max-width: 320px) {

    /* ___________start-page____________ */

	.start-page__content {
		margin-top: 46.56%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 1rem;
	}

	.start-page__content-left-wrapper {
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: 4.15rem;
		margin-top: 0;
		width: 100%;
		text-align: center;
	}

	.start-page__content-left {
		margin-top: 0;
		margin-bottom: 10.6rem;
	}

	.start-page__content-left-title {
		width: 67%;
		font-size: 2.5rem;
		margin-left: 16.8%;
		letter-spacing: 0.06em;
	}

	.start-page__content-right img {
		display: block;
		width: 86.7%;
		height: auto;
		object-fit: cover;
		max-height: 100%;
		margin-left: 4rem;
	}

	/* ___________about____________ */

	.about-content {
		row-gap: 4rem;
	}

	.about-content__right {
		width: 90%;
		row-gap: 2.2rem;
	}

	.about-content__right-title {
		text-align: center;
		margin-bottom: 2px;
	}

	.about-content__right-text {
		text-align: justify;
	}

	.about-content__left {
		display: flex;
		justify-content: center;
	}

	.about-content__left img {
		display: block;
		width: 87%;
	}

	/* ___________pets____________ */

	.section__wrapper {
		padding: 13.125% 1rem 13.125% 1rem;
	}

	.pets-slider__card {
		width: 91%;
	}

	.pets-slider__card:last-child {
		position: absolute;
		right: -100%;
	}

	.pets-slider__card:nth-child(2) {
		position: absolute;
		right: -100%;
	}

	.pets-slider {
		margin-top: 13%;
		margin-bottom: 40.5%;
	}

	#pets-slider__btn-left {
		left: 5.8rem;
	}

	#pets-slider__btn-right {
		right: 5.8rem;
	}

	/* ___________help____________ */

	.help-list {
		margin-top: 3.8rem;
		padding-inline: 0;
	}

	.help-list__wrapper {
		justify-content: space-between;
		row-gap: 30px;
		padding-inline: 5px;
	}

	.help-list__icon-wrapper {
		width: 100%;
		height: 56px;
		display: flex;
		justify-content: center;
	}

	.help-list__item {
		height: 87px;
		width: 130px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		flex-basis: auto;
	}

	.help-list__item-icon {
		display: block;
		width: 50px;
		height: auto;
		object-fit: contain;
	}

	.help-list__item-text {
		font-size: 1.5rem;
		line-height: 230%;
	}

	/* ___________donation____________ */

	.donation-content {
		width: 100%;
		row-gap: 3.8rem;
		margin-top: 2px;
	}

	.donation-content__card {
		width: 95%;
	}

	.donation-content__right {
		padding-left: 0;
		gap: 2.4rem;
		flex-basis: 100%;
		align-items: center;
	}

	.donation-content__title {
		text-align: center;
		margin-bottom: 0;
	}

	.donation-content__subtitle {
		font-size: 1.335rem;
		line-height: 1.6rem;
		padding-inline: 13px;
	}

	.donation-content__card-wrapper {
		width: 28rem;
	}

	.donation-content__card-numder {
		font-size: 15px;
		line-height: 110%;
		letter-spacing: 0.06em;
		color: var(--color-dark-l);
	}

	.donation-content__text-italic {
		height: 90px;
		font-family: var(--font-secondary-italic);
		font-size: 12px;
		line-height: 140%;
		padding-inline: 1rem;
		text-align: justify;
		color: var(--color-dark-m);
	}

	.donation-content__img {
		display: block;
		width: 87%;
		height: 100%;
		margin: 0 auto;
	}
}

@media (max-width: 319px) {

    /* ___________help____________ */
    
	.help-list__wrapper {
		justify-content: center;
		row-gap: 30px;
		padding-inline: 5px;
	}
}
