 .sheltor-container {
    position: relative;
}

.section-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 45px; 
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
    margin-bottom: 60px;
} 

.section__wrapper {
    width: 1280px;
    padding: 80px 40px 100px 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

/* ___________start-page____________ */

#start-page {
   height: 908px;
   position: relative;
}

header{
    position: absolute;
    top: 30px;
    height: 60px;
    width: 1280px;
    left: 50%;
    transform: translateX(-50%);
    padding-inline: 40px;
    z-index: 1;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content__logo {
    width: 184px;
    height: inherit;
}

.header-content__logo-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 1.7px;
    line-height: 35px;
    color: var(--color-primary);
    margin-bottom: 9px;
}

.header-content__logo-subtitle {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1.3px;
    color: var(--color-light-xl);
}

.start-page__background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: url(../images/start-screen-gradient-background.png), radial-gradient(237.5% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

.start-page__background img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} 

.start-page__wrapper {
    width: 1280px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-inline: 40px;
}

.header-content__nav {
    width: 443px;
    height: 27px;
}

.header-content__nav-wrapper {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header-content__nav-li {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
}

.header-content__nav-link {
    text-decoration: none;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 24px; 
    color: var(--color-dark-s);
}

.header-content__nav-link:active {
    border-bottom: 3px solid var(--color-primary);
    color: var(--color-light-s);
}

.start-page__content {
    position: relative;
    top: 180px;
    height: 728px;
    display: flex;
}

.start-page__content-left {
    position: relative;
    top: 163px;
    width: 460px;
    display: flex;
    flex-direction: column;
    margin-right: 21px;
}

.start-page__content-right {
    width: 698px;
    margin-left: 21px;
}

.start-page__content-right img {
    display: block;
    width: 100%;
}

.start-page__content-left-title {
    width: 310px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 44px;
    line-height: 57px; 
    color: var(--color-light-xl);
    margin-bottom: 21px;
}

.start-page__content-left-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 24px; 
    color: var(--color-dark-s);
    margin: 21px 0;
}

.start-page__content-left-btn {
    margin-top: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 100px;
    width: 207px;
    height: 52px;
    background: var(--color-primary);
}

.start-page__content-left-btn:hover {
    cursor: pointer;
}

.btn-text-position {
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 17px; 
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
}

/* ___________about____________ */

#about {
    height: 588px;
    width: 100%;
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-content__left {
   width: 300px; 
}

.about-content__right {
    width: 430px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
}

.about-content__right-title {
    margin-top: 14px;
    margin-bottom: 25px;
    text-align: start;
}

.about-content__right-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 24px; 
    color: var(--color-dark-xl);
    margin-bottom: 25px;
}

/* ___________pets____________ */

#pets {
    width: 100%;
    height: 877px;
    background: var(--color-light-l);
}

.pets-slider {
    width: 100%;
    height: 435px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pets-slider__btn {
    border-radius: 100px;
    border: 2px solid var(--color-primary);
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pets-slider__cards {
    width: 990px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pets-slider__card {
    border-radius: 9px;
    width: 270px;
    height: 435px;
    background: var(--color-light-s);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pets-slider__card-img {
    display: block;
    border-radius: 9px 9px 0 0;
    width: 270px;
    height: 270px;
    object-fit: contain;
}

.pets-slider__card-name {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
    margin: 30px 0;
}

.pets-slider__card-btn {
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    width: 187px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.pets-btn {
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 100px;
    width: 261px;
    height: 52px;
    background: var(--color-primary);
    border: none;
}


/* ___________help____________ */

#help {
    width: 100%;
    height: 611px;
}

.help-list {
    width: 1026px;
    height: 281px;
}

.help-list__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 55px;
    column-gap: 119px;
}

.help-list__item {
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.help-list__item-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 23px; 
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
}



