/* ___________header____________ */

.main__logo:hover h1 {
	color: var(--color-primary-light);
}

.main__logo:hover h2 {
	color: var(--color-light-s);
}
.main__nav-link:hover {
	color: var(--color-light-s);
}

.main__nav-link-active {
	border-bottom: 3px solid var(--color-primary);
	color: var(--color-light-s);
	cursor: default;
}

/* ___________start-page____________ */

#start-page {
	position: relative;
	width: 100%;
	max-height: 908px;
	background: url(../images/start-screen-gradient-background.png), radial-gradient(237.5% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%);
	background-size: cover;
	background-repeat: repeat-y;
	display: flex;
	justify-content: center;
	align-items: end;
	height: 100%;
}

.start-page__content {
	margin-top: 12%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 4rem;
	max-width: 1280px;
	max-height: 728px;
	width: 100%;
	height: 100%;
}

.start-page__content-left {
	flex: 0 0 39%;
	display: flex;
	flex-direction: column;
    max-height: 728px;
    height: 100%;
}

.start-page__content-left-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 4.1rem;
	margin-top: -17.5%;
}

.start-page__content-right {
	flex: 0 1 auto;
    max-height: 728px;
    height: 100%;
}

.start-page__content-right img {
	width: 100%;
	height: auto;
	object-fit: cover;
	max-height: 100%;
}

.start-page__content-left-title {
	width: 310px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 4.4rem;
	line-height: 130%;
	color: var(--color-light-xl);
}

.start-page__content-left-text {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 160%;
	color: var(--color-dark-s);
}

.start-page__content-left-btn {
	border: none;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	border-radius: 10rem;
	width: 207px;
	height: 52px;
	background: var(--color-primary);
	flex: 0 0 auto;
}

.start-page__content-left-btn:hover {
	cursor: pointer;
	background: var(--color-primary-light);
}

/* ___________about____________ */

#about {
	height: 100%;
	width: 100%;
}

.about-content {
	display: flex;
	justify-content: center;
    align-items: center;
    column-gap: 12rem;
}

.about-content__left {
    padding: 0;
}

.about-content__left img {
    display: block;
}

.about-content__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2.5rem;
    flex-basis: 35.9%;
    height: auto;
}

.about-content__right-title {
	text-align: start;
}

.about-content__right-text {
	font-family: var(--second-family);
	font-size: 1.5rem;
	line-height: 160%;
    letter-spacing: 0;
	color: var(--color-dark-xl);
}

/* ___________pets____________ */

#pets {
	width: 100%;
	height: 877px;
	background: var(--color-light-l);
}

.pets-slider {
    position: relative;
	width: 100%;
}

.pets-slider__btn {
	border-radius: 10rem;
	border: 2px solid var(--color-primary);
	width: 5.2rem;
	height: 5.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pets-slider__controls {
    position: absolute;
    z-index: 3;
    width: 100%;
    top: calc(50% - 2.6rem);
}

#pets-slider__btn-left {
    position: absolute;
    left: 0;
}

#pets-slider__btn-right {
    position: absolute;
    right: 0;
}

.pets-slider__cards {
	display: flex;
	justify-content: center;
    column-gap: 7.5%;
	align-items: center;
    height: 100%;
}

.pets-btn {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	border-radius: 10rem;
	width: 261px;
	height: 5.2rem;
	background: var(--color-primary);
	text-decoration: none;
}

/* ___________help____________ */

#help {
	width: 100%;
	min-height: 611px;
    height: 100%;
}

.help-list {
    max-width: 1026px;
	width: 100%;
	height: auto;
    margin-top: 5.8rem;
}

.help-list__wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 55px;
	column-gap: 11.5%;
}

.help-list__item {
	height: 113px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.help-list__item-text {
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.06em;
	text-align: center;
	color: var(--color-dark-l);
}

/* ___________donation____________ */

#donation {
	height: 462px;
	background: var(--color-light-l);
}

.donation-content {
	width: 915px;
	height: 282px;
	display: flex;
	align-items: center;
}

.donation-content__img {
	display: block;
	width: 505px;
	height: 261px;
}

.donation-content__text {
	margin-left: 30px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
}

.donation-content__title {
	text-align: start;
	margin-bottom: 0;
}

.donation-content__subtitle {
	font-size: 15px;
	line-height: 16px;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
}

.donation-content__card-wrapper {
	border-radius: 9px;
	width: 349px;
	height: 43px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--color-primary);
	gap: 10px;
}

.donation-content__card-main {
	width: 100%;
	height: inherit;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-decoration: none;
}

.donation-content__card-main * {
	transition: ease-in-out 0.5s;
}

.donation-content__card-main:hover svg path,
.donation-content__card-main:hover span {
	fill: var(--color-light-s);
	color: var(--color-light-s);
}

.donation-content__card-icon,
.donation-content__card-numder {
	display: block;
}

.donation-content__card-numder {
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
}

.donation-content__text-italic {
	font-family: var(--second-family);
	font-style: italic;
	font-size: 12px;
	line-height: 150%;
	color: var(--color-dark-m);
}

@media (max-width: 820px) {
    .start-page__content-left-wrapper {
        row-gap: 2.05rem;
    }
}

@media (max-width: 768px) {
    #start-page {
        position: relative;
        width: 100%;
        height: 100%;
        max-height: 1165px;
        background: url(../images/start-screen-gradient-background.png), radial-gradient(237.5% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: end;
    }
    
    .start-page__content {
        margin-top: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10rem;
        max-height: 1015px;
        width: 100%;
        height: 100%;
    }
    
    .start-page__content-left {
        /* flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        height: 100%; */
        margin-bottom: 10rem;
    }
    
    .start-page__content-left-wrapper {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 4.1rem;
        margin-top: 0;
        width: 81%;
        align-self: center;
    }

    .start-page__content-left-btn {
        align-self: center;
    }
    
    .start-page__content-right {
        flex: 0 1 auto;
        height: 100%;
    }
    
    .start-page__content-right img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        max-height: 100%;
        margin-left: 7rem;
    }

    /* ___________about____________ */

    .about-content {
        flex-direction: column-reverse;
        row-gap: 8rem;
    }

    .about-content__right {
        width: 62%;
    }

    /* ___________pets____________ */

    .pets-slider__cards {
        overflow: hidden;
        column-gap: 7%;
        position: relative;
    }

    

    #pets-slider__btn-left {
        left: -1rem;
    }
    
    #pets-slider__btn-right {
        right: -1rem;
    }

    .pets-slider__card:last-child {
        position: absolute;
        right: -38.5%;
    }


    /* ___________help____________ */

    #help {
        width: 100%;
        min-height: 611px;
        height: 100%;
    }

    .help-list {
        max-width: 1026px;
        width: 100%;
        height: auto;
        padding-inline: 2.9rem;
        margin-top: 5.8rem;
    }

    .help-list__wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 55px;
        column-gap: 9.5%;
        height: 100%;
        
    }

    .help-list__item {
        height: 11.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-basis: 27%;
    }

}