.header-pets {
    position: relative;
    height: 120px;
}

.pets-logo__title {
    color: var(--color-dark-l);
}

.pets-logo__subtitle {
    color: var(--color-dark-3xl);
}

#pets {
    position: relative;
    height: 1342px;
    width: 100%;
    background: var(--color-light-l);
}

.pets-content {
    width: 100%;
}

.pets-cards__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 40px;
    row-gap: 30px;
}

.pets__card {
    border-radius: 9px;
    width: 270px;
    height: 435px;
    background: var(--color-light-s);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pets__card-img {
    display: block;
    border-radius: 9px 9px 0 0;
    width: 270px;
    height: 270px;
    object-fit: contain;
}

.pets__card-name {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
    margin: 30px 0;
}

.pets__card-btn {
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    width: 187px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
