.header-pets {
    position: relative;
    height: 12rem;
    display: flex;
    top: 0;
}

.pets-logo {
    justify-content: center;
}

.pets-logo__title {
    height: 4.5rem;
    color: var(--color-dark-l);
}

.pets-logo__subtitle {
    color: var(--color-dark-3xl);
}

.pets__nav-link {
    color: var(--color-dark-l);
}

.pets__nav-link-active {
    color: var(--color-dark-3xl);
    border-bottom: 3px solid var(--color-primary);
    cursor: default;
}

.pets__nav-link:hover,
.pets-logo__title:hover {
    color: var(--color-dark-3xl);
}

.pets-logo__title:active {
    color: var(--color-dark-l);
}

#pets {
    position: relative;
    height: 100%;
    width: 100%;
    background: var(--color-light-l);
}

.pets-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pets-cards__container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 3.25%;
    row-gap: 30px;
    margin-top: 5.8rem;
}

.pets-nav {
    width: 340px;
    display: flex;
    justify-content: space-between;
    margin-top: 59px;
}

.pets-nav__circle {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    padding: 14px 21px;
    width: 52px;
    height: 52px;
    cursor: pointer;
    background: none;
}

.pets-nav__circle-content {
    display: block;
    font-size: 2rem;
    line-height: 23px; 
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-3xl);
}

#pets-nav__current-page {
    cursor: default;
    background: var(--color-primary);
}

#pets-nav__duble-prew:disabled,
#pets-nav__single-prew:disabled {
    background: none;
    border: 2px solid var(--color-dark-s);
    cursor: auto;
    opacity: 0.5;
}
