* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;
}

:root {
    --font-family: "Georgia", sans-serif;
    --second-family: "Arial", sans-serif;
    --third-family: "Inter", sans-serif;
}

/* Georgia Regular
253
Arial Regular
51
Georgia Italic
20
Arial Italic
4
Inter Regular 
1*/