:root {
	--font-family: 'Georgia', sans-serif;
	--second-family: 'Arial', sans-serif;
}

:root {
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-family);
	font-weight: 400;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

.shelter-container {
	position: relative;
	width: 100%;
}

.section-title {
	font-size: 3.5rem;
	line-height: 4.5rem;
	letter-spacing: 0.06em;
	text-align: center;
	color: var(--color-dark-l);
	/* margin-bottom: 6rem; */
	max-width: 40rem;
}

.section__wrapper {
	position: relative;
	width: 100%;
	/* padding: 8rem 4rem 10rem 4rem; */
    padding: 5.3% 2% 6.5% 2%;
	height: 100%;
	max-width: 1280px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	left: 50%;
	transform: translateX(-50%);
}

.btn-text-position {
	font-size: 1.7rem;
	line-height: 1.7rem;
	letter-spacing: 0.06em;
	color: var(--color-dark-3xl);
}

.btn {
	cursor: pointer;
	transition: ease-in 0.3s;
}

.btn-bg:hover,
.btn-no-bg:hover
{
	background: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}

/* ___________background____________ */

.background {
	position: relative;
	width: 100%;
	max-height: 908px;
	background: url(../images/start-screen-gradient-background.png), radial-gradient(237.5% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%);
	background-size: cover;
	background-repeat: repeat-y;
	display: flex;
	justify-content: center;
	align-items: end;
	height: 100%;
}

.background-footer {
    max-height:none ;
}

/* ___________header____________ */

header {
	position: absolute;
	top: 30px;
	height: 60px;
	width: 100%;
	max-width: 1280px;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	padding-inline: 4rem;
	z-index: 1;
}

.header-content {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-content__logo {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	width: 186px;
	height: inherit;
	margin-left: 0.4rem;
	text-decoration: none;
}

.header-content__logo-title,
.pets-logo__title,
.main-logo__title {
	font-size: 3.2rem;
	letter-spacing: 0.06em;
	line-height: 110%;
	color: var(--color-primary);
	transition: ease-in-out 0.5s;
}

.header-content__logo-subtitle {
	font-family: var(--second-family);
	font-size: 1.3rem;
	line-height: 110%;
	letter-spacing: 0.1em;
	color: var(--color-light-xl);
}

.header-content__nav {
	max-width: 44.3rem;
	width: 100%;
	height: 27px;
}

.header-content__nav-wrapper {
	height: 100%;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.header-content__nav-link {
	display: block;
	height: 2.6rem;
	text-decoration: none;
	font-family: var(--second-family);
	font-size: 1.5rem;
	line-height: 165%;
	color: var(--color-dark-s);
	transition: color ease-in-out 0.5s;
}

/* ___________footer____________ */

footer {
	position: relative;
	width: 100%;
	min-height: 35rem;
	height: 100%;
}

.footer__wrapper {
    max-width: 128rem;
    width: 100%;
	height: 100%;
    padding: 0 4rem;
    margin-bottom: -1px;
}

.footer-items {
	width: 100%;
    height: 100%;
	display: flex;
	align-items: start;
	justify-content: space-between;
    column-gap: 2rem;
}

.footer-item {
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
    flex-basis: 23%;
    height: 310px;
}

.footer-item__title {
	font-size: 3.4rem;
	line-height: 130%;
	letter-spacing: 2.6px;
	color: var(--color-light-xl);
	margin-top: 1.7rem;
	margin-bottom: 3.3rem;
}

.footer-item__contacts-description {
	display: block;
	font-size: 2rem;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: var(--color-primary);
}

.footer-item__contacts {
	height: 4.6rem;
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	text-decoration: none;
}

.footer-item:first-child {
	flex-basis: 280px;
}

.footer-item:nth-child(2) {
	flex-basis: 302px;
}

.footer-item:last-child {
	flex-basis: 300px;
}

.footer-item__contacts-description,
.footer-item__contacts-icon {
	display: inline-block;
	width: fit-content;
}

.footer-item__contacts-icon {
	margin-right: 20px;
}

.footer-item__contacts-description,
.footer-item__contacts-icon svg path {
	transition: color 0.3s ease, fill 0.3s ease;
}

.footer-item__contacts:hover span,
.footer-item__contacts:hover svg path {
	color: var(--color-primary-light);
	fill: var(--color-primary-light);
}

.footer-item__contacts:active span,
.footer-item__contacts:active svg path {
	color: var(--color-light-xl);
	fill: var(--color-light-xl);
}

/* ___________pets-card____________ */

.pets__card {
	border-radius: 0.9rem;
	width: 22.5%;
	height: auto;
	background: var(--color-light-s);
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	row-gap: 3rem;
	transition: ease 0.3s;
}

.pets__card-img {
	display: block;
	border-radius: 0.9rem 0.9rem 0 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.pets__card-name {
	font-size: 2rem;
	letter-spacing: 0.06em;
	text-align: center;
	color: var(--color-dark-l);
}

.pets__card-btn {
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    width: 69%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background: none;
    margin-bottom: 9.5%;
}

.pets__card:hover {
	cursor: pointer;
	background: var(--color-light-xl);
	box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets__card:hover .pets__card-btn {
	background: var(--color-primary-light);
}

@media (max-width: 968px) {
    .footer-items {
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 5.4rem;
        row-gap: 2rem;
    }
    .footer-item {
        flex-basis: 30%;
    }
}

@media (max-width: 768px) {

    .section__wrapper {
        padding: 10.5% 4rem 13% 4rem;
    }

    .pets__wrapper {
        padding: 10.5% 8rem 13% 8rem;
    }

	header {
		position: absolute;
		top: 30px;
		height: 60px;
		width: 100%;
		max-width: 708px;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		padding-inline: 0;
		z-index: 1;
	}

	.header-content__logo {
		justify-content: space-between;
		align-items: center;
		margin-left: 0;
	}

	.pets__card {
		width: 44.5%;
	}

	.pets__card-btn {
		width: 69%;
		margin-bottom: 11.3%;
	}

    .footer-items {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        column-gap: 5.4rem;
        row-gap: 2rem;
    }

    .footer-item {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        flex-basis: 23%;
        height: 310px;
    }

    .footer-item:first-child {
        flex-basis: 284px;
    }
    
    .footer-item:nth-child(2) {
        flex-basis: 302px;
    }
}

@media (max-width: 767px) {
	header {
		display: none;
	}
}
