* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Georgia", sans-serif;
    --second-family: "Arial", sans-serif;
    --third-family: "Inter", sans-serif;
}

:root {
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;
}

html {
	scroll-behavior: smooth;
}

.shelter-container {
    position: relative;
}

.section-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 45px; 
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
    margin-bottom: 60px;
    max-width: 400px;
} 

.section__wrapper {
    width: 1280px;
    padding: 80px 40px 100px 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.btn {
    cursor: pointer;
    transition: ease-in 0.3s;
}

.btn-bg:hover, 
.btn-no-bg:hover{
    background: var(--color-primary-light);
}

/* ___________background____________ */

.background-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: url(../images/start-screen-gradient-background.png), radial-gradient(237.5% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

.background-gradient img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} 

/* ___________header____________ */

header{
    position: absolute;
    top: 30px;
    height: 60px;
    width: 1280px;
    left: 50%;
    transform: translateX(-50%);
    padding-inline: 40px;
    z-index: 1;
}

.header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content__logo {
	display: block;
    width: 184px;
    height: inherit;
	margin-left: 4px;
	text-decoration: none;
}

.header-content__logo-title,
.pets-logo__title,
.main-logo__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 1.7px;
    line-height: 35px;
    color: var(--color-primary);
    margin-bottom: 9px;
    transition: ease-in-out 0.5s;
}

.header-content__logo-subtitle {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1.3px;
    color: var(--color-light-xl);
}

.header-content__nav {
    width: 443px;
    height: 27px;
}

.header-content__nav-wrapper {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content__nav-li {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
}

.header-content__nav-link {
    text-decoration: none;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 20px; 
    color: var(--color-dark-s);
    transition: color ease-in-out 0.5s;
}

/* ___________footer____________ */

footer {
    position: relative;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content:space-between ;
    align-items: end;
}

.footer__wrapper {
    padding: 0 40px;
}

.footer-items {
    width: 100%;
    height: 310px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer-item:first-child {
    width: 278px;
}

.footer-item:nth-child(2) {
    width: 302px;
}

.footer-item:last-child {
    width: 300px;
    height: 310px;
}

.footer-item__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 34px;
    line-height: 45px; 
    letter-spacing: 0.075em;
    color: var(--color-light-xl);
    text-align: start;
    margin-top: 15px;
    margin-bottom: 33px;
}

.footer-item__contacts {
	display: block;
	text-decoration: none;
    height: 46px;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer-item__contacts-icon {
    display: block;
    margin-right: 20px;
}

.footer-item__contacts-description {
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 23px; 
    letter-spacing: 0.06em;
    color: var(--color-primary);
}

.footer-item .footer-item__contacts:first-of-type {
    margin-bottom: 26px;
}

.footer-item__contacts-description,
.footer-item__contacts-icon path {
    transition: color 0.3s ease, fill 0.3s ease;
}

.footer-item__contacts:hover,
.footer-item__contacts:hover .footer-item__contacts-description,
.footer-item__contacts:hover svg path {
    color: var(--color-light-s);
    fill: var(--color-light-s);
}





