@font-face {
	font-family: 'Roboto';
	src: local('Roboto'), url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'), url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
		url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
}

html {
	font-size: 62.5%;
}

header,
footer {
	background-color: rgb(68, 134, 195);
}

.header-container,
.footer-container {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(68, 134, 195);
	width: 90%;
	height: 8rem;
}

.footer-container {
	height: 4rem;
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-self: center;
}

.logo {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.logo_text {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin-left: 1rem;
}

.logo_text h1 {
	color: rgb(255, 255, 255);
	font-size: 2rem;
}

.logo_text p {
	color: rgb(27, 52, 75);
	font-size: 1rem;
}

.search-container {
	width: 50%;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#input-search {
	text-indent: 1rem;
	width: 100%;
	height: 4rem;
	border-radius: 2rem;
	border: none;
	outline: none;
}

#input-search[type='text'] {
	color: rgb(27, 52, 75);
	font-size: 2rem;
}

.search-container__btn {
	position: absolute;
	top: 1rem;
	right: 0;
	margin-right: 2rem;
	cursor: pointer;
}

#input-search::placeholder {
	font-size: 2rem;
	color: rgb(160, 205, 229);
}

.favorite-container{
	cursor: pointer;
	font-size: 2rem;
	font-weight: bold;
	color: rgb(255, 255, 255);
}

.favorite-container.active {
	color: rgb(26, 136, 239);
}


.logo-icon path {
	transition: fill 0.3s ease-in-out;
}

.favorite-container__text {
    transition: color 0.3s ease-in-out;
}

.favorite-container:hover .favorite-container__text ,
.logo:hover .logo-icon path {
	color: rgb(26, 136, 239);
	fill: rgb(26, 136, 239);
}

.hide {
	display: none;
}

.control-wrapper.hide {
	display: none;
}

.main {
	background-color: rgb(244, 244, 244);
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 82.7vh;
	height: 100%;
}

.images-wrapper {
	padding: 2rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	max-width: 126rem;
	width: 100%;
	height: 100%;
}

.img-container:hover {
	cursor: pointer;
}

.img-container {
	position: relative;
	flex-basis: 24%;
	height: 27rem;
}

.favorite-icon__container {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1rem;
}

.favorite-icon path {
	fill: rgba(53, 103, 150, 0.6);
	transition: fill 0.2s ease-in-out;
}

.favorite-icon path:hover {
	fill: rgb(26, 136, 239);
}
.favorite-icon path:active {
	fill: rgb(255, 255, 255);
}
.img-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: opacity 0.2s ease-in;
	transition: scale 0.2s ease-in;
}

.img-container img:hover {
	opacity: 0.7;
	scale: 1.01;
}

.notls-text {
	font-size: 3rem;
	color: rgba(53, 103, 150, 0.6);
}

.control-wrapper {
	width: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10rem;
}

#current-page {
	display: block;
	width: 4rem;
	height: 100%;
	line-height: 4rem;
	text-align: center;
	background-color: rgb(68, 134, 195);
	color: rgb(255, 255, 255);
	border-radius: 8px;
}

#total-page {
	padding-left: 3rem;
	color: rgb(53, 103, 150);
}

.control-elem {
	font-size: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	height: 4rem;
}

.current-page__container {
	display: flex;
	justify-content: center;
}

.control-btn {
	flex-basis: 8rem;
	color: rgb(53, 103, 150);
}

#prev.hidden {
    visibility: hidden;
}

.control-btn:hover {
	background-color: rgb(221, 221, 221);
	border-radius: 8px;
	cursor: pointer;
}

.footer-content {
	display: flex;
	width: 80%;
	justify-content: space-between;
	align-items: center;
}

.year-prodaction {
	font-size: 1rem;
	color: rgb(255, 255, 255);
}

.popup {
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(100, 100, 100, 0.8);
}

.popup.hide {
	display: none;
}

.popup-img__container {
	max-width: 90%;
	max-height: 90vh;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

#popup-mark {
	position: absolute;
	top: 1rem;
	right: 1rem;
    cursor: pointer;
}

#popup-mark svg path {
    fill: rgb(255, 255, 255);
    transition: fill 0.3s ease-in-out;
}


#popup-mark:hover svg path  {
    fill: rgb(26, 136, 239);
}

.popup-img__container img {
	display: block;
	max-width: 100%;
	max-height: 90vh;
	width: auto;
	height: auto;
	object-fit: contain;
}

body.no-scroll {
	position: fixed;
	overflow-y: scroll;
	width: 100%;
}

@media (max-width: 1000px) {
	.img-container {
		flex-basis: 31%;
	}
}

@media (max-width: 768px) {
	.img-container {
		flex-basis: 49%;
	}

	.header-container {
		position: relative;
		flex-direction: column;
		height: 12rem;
		justify-content: space-evenly;
	}

	.logo {
		align-self: flex-start;
	}

	.favorite-container {
		position: absolute;
		top: 2rem;
		right: 0;
	}

	.search-container {
		width: 60%;
	}
}

@media (max-width: 450px) {
	html {
		font-size: 57%;
	}
	.img-container {
		flex-basis: 98%;
	}

	.control-wrapper {
		width: 70%;
	}

	.search-container {
		width: 80%;
	}
}
