.chat {
  display: flex;
  flex-direction: column;
  gap: 10px;

  box-sizing: border-box;
  width: 90%;
  height: 100vh;
  padding: 10px;

  font-family: sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;

  .header__user-name {
    font-weight: bold;
  }

  .header__chat-name {
    font-size: 1.2em;
  }

  .header__btn {
    margin-left: 10px;
    padding: 5px;
    border-radius: 4px;
  }
}

.chat-container {
  overflow: hidden;
  display: flex;
  flex: 1;

  border: 1px solid #ccc;
  border-radius: 6px;
}

.chat-container__users-wrapper {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 20%;
  min-width: 100px;
  padding: 10px;
  border-right: 1px solid #ccc;

  background-color: #fefefe;
}

.chat-container__users {
  overflow-y: auto;
  flex: 1;
}

.chat-user {
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 5px 0;

  .chat-user__status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
  }

  .chat-user__name {
    font-size: 0.95em;
  }

  &:hover {
    cursor: pointer;
  }
}

.chat-container__chat-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 10px;
}

.chat-container__input-wrapper {
  display: flex;
  gap: 10px;
  padding: 5px;
}

.chat-container__companion-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.chat-container__messages-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;

  height: 100%;
  min-height: 0;
}

.chat-container__messages {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.chat-container__inform {
  position: absolute;
  top: 50%;

  display: block;

  width: auto;
  width: 100%;
  padding: 10px;

  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;

  .footer-link {
    text-decoration: none;
  }
}

.context-menu {
  position: absolute;
  z-index: 100;

  display: flex;
  flex-direction: column;

  min-width: 80px;
  border: 1px solid #575757;
  border-radius: 6px;

  background-color: #fff;

  .context-btn {
    cursor: pointer;

    padding: 0;
    border-top: 1px solid #575757;
    border-bottom: 1px solid #575757;
    border-radius: 0;
  }
}

@media (width <= 400px) {
  .chat {
    width: 100%;
  }

  .chat-container__input-wrapper {
    flex-direction: column;
  }
}
