#login-form,
.login-form__inputs-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 20px;
  border: 1px solid black;
}

#login-form {
  width: 50%;
}

.login-form__inputs-container {
  padding: 20px;

  label {
    display: flex;
    justify-content: space-between;
  }
}

.login-form__input {
  width: 100%;
  max-width: 200px;
  margin-left: 20px;
}

.login-form__error {
  display: none;
  font-size: 12px;
  color: red;
}

.login-form__error.error--visible {
  display: block;
}
