#login-form,
.login-form__inputs-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.login-form__inputs-container {
  padding: 20px;
}

.login-form__input {
  margin-left: 20px;
  max-width: 200px;
  width: 100%;
}
