.garage {
  position: relative;
}

.garage .message-container {
  position: absolute;
  top: 50%;

  width: 100%;

  font-size: 24px;
  text-align: center;
}

.garage-item__track {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px dashed black;
}

.garage-item__track .garage-item__track-flag {
  margin-right: 30px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

main,
nav {
  width: 90%;
}

button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  background-color: #e7e5e5;
}