.about {
	background-position-x: center;
    justify-content: space-between;
}
.about-inner {
	@extend %flex-space;
	background-color: $static-white;
	margin: 6rem 0;
	border-radius: 2rem;
    width: 100%;
    .section__title-container {
        gap: 2rem;
        align-items: start;
        .section__title {
            color: $dark;
        }
    
        .section__subtitle {
            color: $primary;
            text-align: start;
        }
    }
	
}

.about__left-container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
	margin-left: 6rem;
    padding: 6rem 0;
	max-width: 42.6rem;
	width: 100%;
}

.about__description {
	color: $dark;
	font-size: 1.6rem;
	font-family: $font-family-redular;
	line-height: 148%;
}

.about__right {
    height: 52.8rem;
	img {
		border-radius: 2rem;
        height: 100%;
	}
}
