.section-cta {
	position: relative;
}
.bg-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('.././img/bg-forest.png');
	background-size: cover;
	z-index: 0;
}
.cta-inner {
	position: relative;
	z-index: 2;
	margin: 6rem 0;
	@extend %flex-center;
	flex-direction: column;
	width: 100%;
}

.cta-container {
	max-width: 42.6rem;
	width: 100%;
	margin: 6rem 0;
	padding: 6rem 0;
	@extend %flex-center;
	flex-direction: column;
	text-align: center;
	gap: 2rem;
}
.timer-inner {
	max-width: 42.6rem;
	width: 100%;
	@extend %flex-center;
	flex-direction: column;
	gap: 0.8rem;
}
.timer-container {
	@extend %flex-center;
	border-radius: 2rem;
	padding: 0.8rem 1.2rem 1.2rem 1.2rem;
	max-width: 34.4rem;
	width: 100%;
	height: 7.2rem;
	background: $static-white-40;
}

.timer__section {
	@extend %flex-center;
	flex-direction: column;
	width: 8rem;
	p {
		font-size: 2.4rem;
		line-height: 152%;
		letter-spacing: 0.16em;
		text-transform: uppercase;
		text-align: center;
		color: $static-white;
	}
	p:nth-child(2) {
		font-size: 1.2rem;
		line-height: 130%;
		letter-spacing: 0.05em;
	}
}

.timer-container {
	.timer__section:not(:last-of-type) {
		position: relative;
		&::after {
			content: '';
			display: inline-block;
			width: 0;
			height: 2rem;
			border: 1px solid $static-white-40;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
		}
	}
}
