%menu-item {
	@extend %transition-color;
	color: $dark;
	font-size: 1.2rem;
	padding: 1.2rem 2rem;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	border-radius: 1.2rem;
	background-color: $static-white;
}

%menu-item__active {
	background-color: $primary-10;
	color: $primary;
}

header {
	width: 100%;
	text-transform: uppercase;
	font-size: 1.2rem;
	height: 6.4rem;
	display: flex;
	align-items: center;
    position: relative;
}

.header__inner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 8.2rem;
	height: 4rem;
}

.header__logo {
	width: 14.1rem;
	@extend %flex-space;
	@extend %menu-item;
}
.header__menu {
	height: 100%;
    background-color: $static-white;
}

.header__menu-list {
	display: flex;
	flex-direction: row;
	gap: 0.8rem;
}

.header__menu-item {
	@extend %flex-center;
}

.header__menu-link {
	display: block;
	@extend %menu-item;
	&:hover {
		@extend %menu-item__active;
	}
}

.gifts__menu-list {
	li:first-child {
		pointer-events: none;
	}
}

.menu-item__active {
	@extend %menu-item__active;
}

.burger-btn {
	display: none;
}

.burger-btn {
	@extend %flex-center;
	flex-direction: column;
	gap: 0.8rem;
	padding: 1.5rem 1rem;
	.burger-btn__line {
		height: 1px;
		width: 20px;
		background-color: $dark;
		transition: transform 0.3s ease-in-out;
	}
	&:hover {
		cursor: pointer;
	}
}

.burger-btn__rotate {
    div:first-child {
        transform: rotate(45deg) translate(3px, 2px);
        transform-origin: center;
    }
    div:last-child {
        transform: rotate(-45deg) translate(4px, -3px);
        transform-origin: center;
    }
}



@media (max-width: 768px) {
	.header__inner {
		margin: 0 0.8rem;
	}

	.header__menu {
		position: absolute;
        z-index: 2;
        top: 6.4rem;
        height: 100vh;
        width: 100%;
        right: -100%;;
        transition:  0.3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
	}

    .header__menu-list {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        .header__menu-link {
            font-size: 2.4rem;
            line-height: 152%;
            letter-spacing: 0.16em;
        }
        position: relative;
        bottom: 3.2rem;
    }

	.burger-btn {
		display: flex;
	}
}

.header__menu-active {
    display: flex;
    right: 0;
}
