%menu-item {
	@extend %transition-color;
	color: $dark;
	font-size: 1.2rem;
	padding: 1.2rem 2rem;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	border-radius: 1.2rem;
	background-color: $static-white;
}

%menu-item__active {
	background-color: $primary-10;
	color: $primary;
}

header {
	width: 100%;
	text-transform: uppercase;
	font-size: 1.2rem;
	height: 6.4rem;
	display: flex;
	align-items: center;
}

.header__inner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 8.2rem;
	height: 4rem;
}

.header__logo {
	width: 14.1rem;
	@extend %flex-space;
	@extend %menu-item;
}
.header__menu {
	height: 100%;
}

.header__menu-list {
	display: flex;
	flex-direction: row;
	gap: 0.8rem;
}

.header__menu-item {
	@extend %flex-center;
}

.header__menu-link {
	display: block;
	@extend %menu-item;
	@media (hover: hover) and (pointer: fine) {
		&:hover {
			background-color: $primary-10;
			color: $primary;
		}
	}
}

.gifts__menu-list {
	li:first-child {
		pointer-events: none;
	}
}

.menu-item__active {
	@extend %menu-item__active;
}

.burger-btn {
	display: none;
}

.burger-btn {
	@extend %flex-center;
	flex-direction: column;
	gap: 0.8rem;
	padding: 1.5rem 1rem;
	.burger-btn__line {
		height: 0.07rem;
		width: 2rem;
		background-color: $dark;
		transition: transform 0.3s ease-in-out;
	}
	&:hover {
		cursor: pointer;
	}
}

@media (max-width: 768px) {
	.header__inner {
		margin: 0 0.8rem;
	}

	.header__menu {
		display: none;
	}

	.burger-btn {
		display: flex;
	}
}
