.section {
  @extend %bg-section;
}
.hero-inner {
    height: 52.4rem;
    background-image: url('.././img/bg-ball.png');
    @extend %bg-section;
    @extend %flex-center;
}

.hero-inner__container {
    @extend %flex-center;
    flex-direction: column;
    max-width: 42.6rem;
    width: 100%;
    gap: 1.2rem;
    padding: 6rem 0;
}

.title {
font-family: $font-family-redular;
font-size: 3.2rem;
line-height: 150%;
letter-spacing: 0.18em;
text-transform: uppercase;
color: $static-white;
text-align: center;
}

.section__subtitle{
    @extend %subtitle;
}

.section__btn {
    @extend %section-btn;
}

