@font-face {
	font-family: 'Roboto';
	src: local('Roboto'), url('fonts/roboto/Roboto-Regular.woff2') format('woff2'), url('fonts/roboto/Roboto-Regular.woff') format('woff'),
		url('fonts/roboto/Roboto-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

html {
    font-size: 62.5%;
}

header {background-color: rgb(68, 134, 195);}

.header-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(68, 134, 195);
    width: 80%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_text h1 {
    color: #ffffff;
    font-size: 2rem;
}

#input-search {
    border: none;
    outline: none;
}


.hide {
    display: none;
}


.search-container {
    background-color: #ffffff;
    width: 20rem;
    /* display: flex;
    justify-content: space-between; */
    /* align-self: center; */
}

.images-wrapper {
    padding: 2rem;
    background-color: rgb(152, 152, 152);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}








img {
    display: block;
    max-width: 400px;
    max-height: 267px;
    height: auto;
    width: 100%;
    object-fit: cover;   
}