* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: black;
}
img {
    display: block;
    max-width: 400px;
    max-height: 267px;
    height: 100%;
    width: 100%;
    object-fit: cover;   
}