* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.levels-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 360px;
}

.levels-container.inactive {
  pointer-events: none;
  opacity: 0.5;
}

.level {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 120px;
  height: 50px;
}

.input {
  max-width: 500px;
  width: 100%;
  height: 50px;
  border: 1px solid black;
}

.keyboard-container {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.key-container {
  width: 40px;
  height: 40px;
  background-color: aquamarine;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.key-container.highlight {
  background-color: yellow;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.key-container.highlight-key {
  background-color: rgb(255, 0, 200);
  transition: background-color 0.3s ease, color 0.3s ease;
}


