* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.levels {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 360px;
}

.level {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 120px;
  height: 50px;
}

.keyboard-container {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.key-container {
  width: 40px;
  height: 40px;
  background-color: aquamarine;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

