* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #516383;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Arial, sans-serif;
  color: #ffffff;
  height: 100vh;
  width: 95%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.levels-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 360px;
}

.levels-container.inactive {
  pointer-events: none;
  opacity: 0.5;
}

.level {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 90px;
  height: 45px;
  background-color: #444444;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.level-current {
  color: #444444;
  background-color:#98ff75;
}

.level:not(.level-current):hover,
.level:not(.level-current).active {
  background-color: #f4fe96;
}

.option-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.counter-container {
  font-size: 18px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  width: 50%;
  margin-top: 50px;
  padding: 10px 15px;
  font-size: 24px;
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #ddd;
  border-radius: 20px;
}

.keyboard-container {
  position: absolute;
  top: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 590px;
  width: 100%;
  margin: 20px auto;
  min-height: 230px;
}


.key-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444444;
  color: #fff;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: background-color 0.3s, transform 0.2s;
}

.key-container:hover {
  background-color: #61dafb;
}

.key-container.highlight {
  background-color: #ff7675;
  animation: highlight 1s ease-in-out;
}

@keyframes highlight {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.highlight-key {
  background-color: #eaff75;
}


.btn {
  height: 45px;
  background-color: #61dafb;
  color: #000000;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.1s;
}

.start-btn,
.new-game-btn {
  position: absolute;
  bottom: 20%;
  margin: 0 auto;
}

.btn:hover {
  background-color: #21a1f1;
}

.btn:disabled {
  background-color: #444444;
  cursor: not-allowed;
}
