#login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;

  background-color: #f9f9f9;
}

.login-form__inputs-container {
  display: flex;
  flex-direction: column;
  gap: 15px;

  label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #333;
  }
}

.login-form__error {
  display: none;
  margin-top: 4px;
  font-size: 12px;
  color: red;
}

.login-form__error.error--visible {
  display: block;
}
