.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100dvh;

  background-color: rgb(0 0 0 / 50%);
}

.popup {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 90%;
  max-width: 500px;
  padding: 2rem;
  border-radius: 12px;

  background-color: #fff;

  .popup-content {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
  }
}
