@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat"), url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: local("Montserrat-SemiBold"), url("../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Allura-Regular";
  src: local("Allura-Regular"), url("../fonts/allura/Allura-Regular.woff2") format("woff2"), url("../fonts/allura/Allura-Regular.woff") format("woff"), url("../fonts/allura/Allura-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
.gift__card {
  flex-direction: column;
  background: #ecf3f8;
  border-radius: 2rem;
  max-width: 31rem;
  max-height: 34.2rem;
  width: 100%;
  height: 100%;
  gap: 0;
}
.gift__card img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.gift__card .gift__description {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  background: #fff;
  width: 100%;
  padding: 2rem;
  gap: 0.9rem;
  min-height: 11.2rem;
}
.gift__card .gift__description p {
  font-size: 1.2rem;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.gift__card .gift__description h3 {
  font-size: 1.6rem;
  line-height: 160%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #181c29;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.gift__card:hover {
  cursor: pointer;
}
.gift__card:hover h3 {
  color: #ff4646;
}

section {
  background-image: url(".././img/bg-snow.png");
  background-size: cover;
  background-position: center;
}

.section__title-container, section, .page-gifts__container, .page-gifts__tabs-tab, .page-gifts__inner, .footer__items-social, .footer__items, .footer__contacts .footer__contact a, .footer__inner, .timer__section, .timer-container, .timer-inner, .cta-container, .cta-inner, .gifts-inner, .slider__controls-btn, .slider__controls-container, .slider, .slider-inner, .section-slider, .hero-inner__container, .hero-inner, .header__menu-item, .section__btn, .gift__card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-gifts__tabs, .footer__contacts, .gifts__container, .slider__item, .about-inner, .header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__subtitle {
  font-family: "Allura-Regular", sans-serif;
  font-size: 2.4rem;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #fff;
}

.section__title, .footer__contacts .footer__contact-title {
  font-size: 2.4rem;
  line-height: 150%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #fff;
}

.section__btn {
  border-radius: 2rem;
  padding: 2rem 3.2rem;
  width: 23.5rem;
  height: 5.6rem;
  background-color: #181c29;
  font-size: 1.2rem;
  line-height: 130%;
  letter-spacing: 0.048em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.section__btn:hover {
  background-color: #fff;
  color: #181c29;
}

.page-gifts__tabs-tab, .footer__items-subtitle a, .footer__contacts .footer__contact:hover p, .slider__controls-btn:hover path, .slider__controls-btn, .header__menu-link, .header__logo, .gift__card .gift__description h3, .section__btn {
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.header__menu-link, .header__logo {
  color: #181c29;
  font-size: 1.2rem;
  padding: 1.2rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 1.2rem;
  background-color: #fff;
}

.menu-item__active, .header__menu-link:hover {
  background-color: rgba(255, 70, 70, 0.1);
  color: #ff4646;
}

header {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.2rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
}

.header__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8.2rem;
  height: 4rem;
}

.header__logo {
  width: 14.1rem;
}

.header__menu {
  height: inherit;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  height: inherit;
}

.header__menu-item {
  height: inherit;
}

.header__menu-link {
  display: block;
  height: inherit;
}
.gifts__menu-list li:first-child {
  pointer-events: none;
}

.burger-btn {
  display: none;
}
.burger-btn:hover {
  cursor: pointer;
}

.burger-btn__rotate path:first-child {
  transform: rotate(45deg) translate(0px, 5px);
  transform-origin: center;
}
.burger-btn__rotate path:last-child {
  transform: rotate(-45deg) translate(-1px, -5px);
  transform-origin: center;
}

@media (max-width: 768px) {
  .header__inner {
    margin: 0 0.8rem;
  }
  .header__menu {
    display: none;
  }
  .burger-btn {
    display: block;
  }
}
.hero {
  flex-direction: column;
  align-items: stretch;
  padding: 0;
}

.hero-inner {
  background-image: url(".././img/bg-ball.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem 0;
}

.hero-inner__container {
  flex-direction: column;
  max-width: 42.6rem;
  width: 100%;
  gap: 1.2rem;
  padding: 6rem 0;
}

.title {
  font-size: 3.2rem;
  line-height: 150%;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.about {
  justify-content: space-between;
}

.about-inner {
  background-color: #fff;
  margin: 6rem 0;
  border-radius: 2rem;
  width: 100%;
}
.about-inner .section__title-container {
  gap: 2.2rem;
  align-items: start;
}
.about-inner .section__title-container .section__title {
  color: #181c29;
}
.about-inner .section__title-container .section__subtitle {
  color: #ff4646;
  text-align: start;
}

.about__left {
  padding: 0 6rem;
}

.about__left-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 6rem 0;
  max-width: 42.6rem;
  min-width: 25.6rem;
  width: 100%;
}

.about__description {
  color: #181c29;
  font-size: 1.6rem;
  font-family: "Montserrat-Regular", sans-serif;
  line-height: 148%;
}

.about__right {
  height: 52.8rem;
}
.about__right img {
  position: relative;
  border-radius: 2rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 654px) {
  .about-inner {
    flex-direction: column;
  }
  .about__left {
    padding: 0 2rem;
  }
}
.section-slider {
  flex-direction: column;
  gap: 0;
  padding-right: 0;
}

.slider-inner {
  flex-direction: column;
  gap: 2rem;
  margin: 6rem 0;
  overflow: hidden;
  width: 100%;
}
.slider-inner .section__title {
  margin-right: 8.2rem;
}
.slider-inner .section__subtitle {
  margin-right: 8.2rem;
}

.slider {
  width: -moz-max-content;
  width: max-content;
  gap: 2rem;
  flex-wrap: nowrap;
  align-self: flex-start;
}

.slider__item {
  gap: 2rem;
}
.slider__item p {
  font-size: 8rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.slider__item-img img {
  max-width: 20rem;
  width: 100%;
  height: auto;
  border-radius: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__controls {
  padding-right: 8.2rem;
  align-self: end;
}

.slider__controls-container {
  justify-content: flex-end;
  gap: 2rem;
}

.slider__controls-btn {
  border: 1px solid #fff;
  border-radius: 2rem;
  width: 5.6rem;
  height: 5.6rem;
}
.slider__controls-btn:hover {
  cursor: pointer;
  background-color: #fff;
}
.slider__controls-btn:hover path {
  stroke: #ff4646;
}

.slide-btn__disabled {
  border: 1px solid rgba(255, 255, 255, 0.4);
  pointer-events: none;
}
.slide-btn__disabled svg path {
  stroke-opacity: 0.4;
}

@media (max-width: 1060px) {
  .slider__controls {
    padding-right: 0.8rem;
  }
  .slider-inner .section__title {
    margin-right: 0.8rem;
  }
  .slider-inner .section__subtitle {
    margin-right: 0.8rem;
  }
}
.gifts-inner {
  margin: 6rem 0;
  flex-direction: column;
  gap: 2rem;
}

.gifts__container {
  align-items: start;
  gap: 1.2rem;
}

@media (max-width: 900px) {
  .gifts__container {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.section-cta {
  position: relative;
}

.bg-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(".././img/bg-forest.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
  background-repeat: no-repeat;
}

.cta-inner {
  position: relative;
  z-index: 2;
  margin: 6rem 0;
  flex-direction: column;
  width: 100%;
}

.cta-container {
  max-width: 42.6rem;
  width: 100%;
  margin: 6rem 0;
  padding: 6rem 0;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

.timer-inner {
  max-width: 42.6rem;
  width: 100%;
  flex-direction: column;
  gap: 0.8rem;
}

.timer-container {
  border-radius: 2rem;
  padding: 0.8rem 1.2rem 1.2rem 1.2rem;
  max-width: 34.4rem;
  width: 100%;
  height: 7.2rem;
  background: rgba(255, 255, 255, 0.4);
}

.timer__section {
  flex-direction: column;
  width: 8rem;
}
.timer__section p {
  font-size: 2.4rem;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.timer__section p:nth-child(2) {
  font-size: 1.2rem;
  line-height: 130%;
  letter-spacing: 0.05em;
}

.timer-container .timer__section:not(:last-of-type) {
  position: relative;
}
.timer-container .timer__section:not(:last-of-type)::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.footer__inner {
  margin: 6rem 8.2rem;
  gap: 6rem;
  flex-direction: column;
}

.footer__contacts {
  width: 100%;
  gap: 1.2rem;
}
.footer__contacts .footer__contact {
  border-radius: 2rem;
  background: #ecf3f8;
  width: 33%;
  padding: 2rem;
}
.footer__contacts .footer__contact a {
  flex-direction: column;
  gap: 1.2rem;
}
.footer__contacts .footer__contact:hover {
  cursor: pointer;
}
.footer__contacts .footer__contact:hover p {
  color: #ff4646;
}
.footer__contacts .footer__contact-title {
  color: #181c29;
}
.footer__contacts .footer__contact-subtitle {
  font-size: 1.6rem;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: #181c29;
}

.footer__items {
  flex-direction: column;
  gap: 1.2rem;
}

.footer__items-social {
  gap: 1.2rem;
}
.footer__items-social div {
  padding: 0.8rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.footer__items-social div path {
  transition: stroke 0.2s ease-in-out;
}
.footer__items-social div:hover path {
  stroke: #ff4646;
}

.footer__items-author {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: 148%;
  text-align: center;
  color: #181c29;
}

.footer__items-subtitle a {
  color: #181c29;
}
.footer__items-subtitle a:hover {
  color: #ff4646;
}

@media (max-width: 1205px) {
  .footer__contacts {
    flex-direction: column;
  }
  .footer__contacts .footer__contact {
    width: 100%;
  }
}
@media (max-width: 1060px) {
  .footer__inner {
    margin: 6rem 0.8rem;
  }
}
.page-gifts__section {
  background-image: url(".././img/bg-garland.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.page-gifts__inner {
  flex-direction: column;
  padding: 6rem 0;
  gap: 2rem;
}
.page-gifts__inner .section__title {
  font-size: 3.2rem;
  max-width: 42.6rem;
  width: 100%;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.18em;
}

.page-gifts__tabs {
  gap: 0.8rem;
}

.page-gifts__tabs-tab {
  padding: 1.2rem 2rem;
  border-radius: 1.2rem;
  background-color: transparent;
}
.page-gifts__tabs-tab:first-child {
  background-color: rgba(255, 255, 255, 0.2);
  pointer-events: none;
}
.page-gifts__tabs-tab:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
.page-gifts__tabs-tab p {
  font-size: 1.2rem;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
}

.page-gifts__container {
  flex-wrap: wrap;
  gap: 1.2rem;
}

body {
  font-family: "Montserrat-SemiBold", sans-serif;
  background: #fff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 600;
}

.page-wrapper {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
  background: #fff;
}

main {
  background: #ff4646;
  border-radius: 2rem;
}

section {
  padding: 0 8.2rem;
}

.section__title-container {
  flex-direction: column;
  gap: 1.2rem;
}

@media (max-width: 900px) {
  section {
    padding: 0 0.8rem;
  }
}/*# sourceMappingURL=main.css.map */