* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat"), url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: local("Montserrat-SemiBold"), url("../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Allura-Regular";
  src: local("Allura-Regular"), url("../fonts/allura/Allura-Regular.woff2") format("woff2"), url("../fonts/allura/Allura-Regular.woff") format("woff"), url("../fonts/allura/Allura-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
section {
  background-image: url(".././img/bg-snow.png");
  background-size: cover;
  background-position-y: center;
}

section, .hero-inner__container, .hero-inner, .header__menu-list .header__menu-item, .section__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-inner, .header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__subtitle {
  font-family: "Allura-Regular", sans-serif;
  font-size: 2.4rem;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #fff;
}

.about-inner .section__title {
  font-size: 2.4rem;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #fff;
}

.section__btn {
  border-radius: 2rem;
  padding: 2rem 3.2rem;
  width: 23.5rem;
  height: 5.6rem;
  background-color: #181c29;
  font-size: 1.2rem;
  line-height: 130%;
  letter-spacing: 0.048em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.section__btn:hover {
  background-color: #fff;
  color: #181c29;
}

.header__menu-list .header__menu-item .header__menu-link, .header__logo {
  color: #181c29;
  font-size: 1.2rem;
  padding: 1.2rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 1.2rem;
  background-color: #fff;
}
.header__menu-list .header__menu-item .header__menu-link:hover, .header__logo:hover {
  background-color: rgba(255, 70, 70, 0.1);
}

header {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.2rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
}

.header__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8.2rem;
  height: 4rem;
}

.header__logo {
  width: 14.1rem;
}

.header__menu {
  height: inherit;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  height: inherit;
}
.header__menu-list .header__menu-item {
  height: inherit;
}
.header__menu-list .header__menu-item .header__menu-link {
  display: block;
  height: inherit;
}

.hero {
  flex-direction: column;
  align-items: stretch;
  padding: 0;
}

.hero-inner {
  background-image: url(".././img/bg-ball.png");
  background-size: cover;
  background-position-y: center;
}

.hero-inner__container {
  flex-direction: column;
  max-width: 42.6rem;
  width: 100%;
  gap: 1.2rem;
  padding: 6rem 0;
  margin: 6rem 0;
}

.title {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 3.2rem;
  line-height: 150%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.about {
  background-position-x: center;
}

.about-inner {
  max-height: 52.8rem;
  height: 100%;
  width: 100%;
  background-color: #fff;
  margin: 6rem 0;
  border-radius: 2rem;
}
.about-inner .section__title {
  color: #181c29;
}
.about-inner .section__subtitle {
  color: #ff4646;
}

.about__left-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin-left: 6rem;
  max-width: 42.6rem;
  width: 100%;
}

.about__description {
  color: #181c29;
  font-size: 1.6rem;
  font-family: "Montserrat-Regular", sans-serif;
  line-height: 148%;
}

.about__right {
  height: 52.8rem;
}
.about__right img {
  border-radius: 2rem;
  height: 100%;
}

body {
  font-family: "Montserrat-SemiBold", sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.page-wrapper {
  max-width: 144rem;
  width: 144rem;
  margin: 0 auto;
}

main {
  background: #ff4646;
  border-radius: 2rem;
}

section {
  padding: 0 8.2rem;
}/*# sourceMappingURL=main.css.map */