* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

}

.ap-wrapper {
    width: 450px;
    height: 600px;
    margin:  auto;
}

.progress-bar__container {
    width: 90%;
    height: 25px;
    border: 1px solid black;
    display: flex;
    justify-content: start;
    align-items: center;
}

.progress-bar {
    width: 50%;
    height: 15px;
    background-color: blue;
}