@font-face {
	font-family: 'Roboto';
	src: local('Roboto'), url('fonts/roboto/Roboto-regular.woff2') format('woff2'), url('fonts/roboto/Roboto-regular.woff') format('woff'),
		url('fonts/roboto/Roboto-regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
}

#audio-player {
    max-width: 450px;
    width: 100%;
    max-height: 950px;
    height: 100%;
}

.ap-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 9px;
    height: 100%;
    color: rgba(255, 255, 255, 0.8);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.9) 100%);
}


.ap-background { 
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 9px;
}

.album-img {
    border-radius: 9px;
    border: 1px solid silver;
    margin-top: 10%;
    width: 70%;
    height: auto;
}

.track-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.played-track {
    position: relative;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: rgb(255, 255, 255);
}

.album {
    font-size: 1.6rem;
}

.progress-container {
    width: 90%;
}

.time-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.progress-bar__container {
    width: 100%;
    height: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 9px;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

.progress-bar {
    height: 9px;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.4);
}

.controls-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
}

.control-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.icon-change-color path {
    fill: #ffffff; 
}

.icon-change-color.active path {
    fill: rgb(169, 169, 169); 
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-elem {
    width: 50px;
    display: inline-block;
    text-align: center;
}

.year-prodaction {
    font-size: 1rem;
}

.footer-content:last-child a {
    text-align: end;
}


.control-btn:hover
 {
    scale: 1.15;
}

.tracklist-container {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(109, 109, 110, 0.7);
    top: -100%;
    transition: top 0.3s ease-in-out;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
}

.show-tacklist {
    top: 0;
}


.tracklist-li {
   width: 100%;
   padding: 2px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid gray;
   cursor: pointer;
}

.trackList-img {
    display: block;
    width: 35px;
    border-radius: 50%;
}

.tracklist-track {
    font-size: 1.2rem;
}

.tracklist-li:hover {
    background-color: rgba(109, 109, 110, 0.7);
}

.tracklist-li:hover .trackList-img {
    scale: 1.15;
}






@media (max-width: 400px) {
    html {
        font-size: 55%;
    }
}

