.garage {
  position: relative;
  width: 90%;

  .message-container {
    position: absolute;
    top: 50%;

    width: 100%;

    font-size: 24px;
    text-align: center;
  }
}

.garage-item__track {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px dashed black;

  .garage-item__track-flag {
    margin-right: 30px;
  }
}
