.garage {
  position: relative;

  width: 100%;
  padding: 5px 0;
  border: 1px solid dimgrey;
  border-radius: 5px;

  background-color: #c6c5c5;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);

  .message-container {
    position: absolute;
    top: 50%;

    width: 100%;

    font-size: 24px;
    font-weight: 600;
    color: #333;
    text-align: center;
  }
}

.garage-item {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.garage-item__track {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px dashed #dad6d6;

  .garage-item__track-flag {
    margin-right: 30px;
  }
}

.garage-item__track-car {
  display: flex;
  align-items: center;
  justify-content: center;
}
