@use '.././utils/vars' as v;
@use '.././utils/templates' as *;

.overlay {
  @extend %flex-center;

  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  width: 100%;
  height: 100dvh;

  background-color: v.$overlay;
}

.popup {
  @extend %flex-space;

  flex-direction: column;

  width: 70%;
  height: 30rem;
  padding: 2rem;
  border: 1px solid v.$static-white;
  border-radius: 0.5rem;

  background-color: v.$primary;

  .popup-content {
    width: 100%;
    height: fit-content;
    border: 1px solid v.$static-white;
    border-radius: 0.5rem;

    background-color: v.$content-background;

    textarea {
      resize: none;

      width: 100%;
      height: 100%;
      min-height: 20rem;
      padding: 0.5rem;
      border: 1px solid v.$static-white;
      border-radius: 0.5rem;

      font-size: 1.4rem;
      color: v.$dark;

      background-color: v.$primary;
      outline: none;
    }
  }

  .popup-buttons {
    @extend %flex-center;

    gap: 2rem;
    width: 100%;

    .button {
      width: 35%;
      padding: 1rem 2rem;
    }
  }
}
