$primary: #d2e6b5;
$dark: #181c29;
$static-white: #fff;
$content-background: #ecf3f8;

$button-primary: #a8d5ba;
$button-secondary: #f4d35e;
$button-tertiary: #ffb3ba;
$button-text: $static-white;

$input-background: #f1f1f1;
$input-border: #ccc;
$input-text: $dark;

$page-background: $content-background;
